<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav(activeMenu)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">📚 Kutubxona tizimi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="/" th:classappend="${activeMenu == 'home'?'active':''}">Bosh sahifa</a></li>
                <li class="nav-item"><a class="nav-link" href="/books" th:classappend="${activeMenu == 'book'?'active':''}">Kitoblar</a></li>
                <li class="nav-item"><a class="nav-link" href="/rentals" th:classappend="${activeMenu == 'rental'?'active':''}">Ijaralar</a></li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" href="/users" th:classappend="${activeMenu == 'users'?'active':''}">Foydalanuvchilar</a></li>

                <li class="nav-item dropdown ms-lg-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="${#authentication.principal.imgUrl != null ? #authentication.principal.imgUrl : 'https://cdn-icons-png.flaticon.com/512/149/149071.png'}"
                             alt="User" class="rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;">
                        <span th:text="${#authentication.principal.fullName}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/profile"><i class="bi bi-person"></i> Profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/logout}">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bi bi-box-arrow-right"></i> Chiqish
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>